html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.clip-thumbnail {
    transition: transform 0.2s ease;
}

    .clip-thumbnail:hover {
        transform: scale(1.03);
    }



    }


.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .card .ratio {
        flex-shrink: 0;
    }

.card-body {
    flex-grow: 1;
}

#loadMoreBtn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

    #loadMoreBtn:only-child {
        display: block;
        margin: 0 auto;
    }


#loader {
    display: none;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: none; /* domyœlnie ukryty */
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-content {
    position: relative;
    width: 90%;
    max-width: 960px;
    aspect-ratio: 16 / 9;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .modal-content iframe {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    }
