@page
@model IndexClipsModel
@{
    Layout = null; // ważne! tylko HTML bez layoutu
}

@foreach (var clip in Model.Clips)
{
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="ratio ratio-16x9">
                <iframe src="@clip.EmbedUrl&parent=localhost" allowfullscreen frameborder="0" loading="lazy"></iframe>
            </div>
            <div class="card-body">
                <h5 class="card-title">@clip.Title</h5>
                <p class="card-text">Autor: @clip.BroadcasterName</p>
            </div>
        </div>
    </div>
}
